<form class="ui form" action="/addstation" method="post">
    <div class="fields">
        <div class="field">
            <label>Station Name</label>
            <input type="text" placeholder="Name" name="name">
        </div>
        <div class="field">
            <label>Latitude</label>
            <input type="text" placeholder="0.00" name="latitude">
        </div>
        <div class="field">
            <label>Longitude</label>
            <input type="text" placeholder="0.00" name="longitude">
        </div>
    </div>
    <button class="ui button" type="submit">Add Station</button>
</form>